*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #111;
}

header{
    position: relative;
    width: 100%;
    height: 170vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

header h2{
    position: relative;
    color: #fff;
    font-size: 12em;
}



.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


.img1{
    position: absolute;
    margin-bottom: 90vh;
    margin-left: 100vh;
}

.img2{
    position: absolute;
    margin-bottom: 60vh;
    margin-right: 85%;
}

.img3{
    position: absolute;
    margin-bottom: 150vh;
    margin-right: 130vh;
}

.img4{
    position: absolute;
    margin-bottom: 160vh;
}



