<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Tienda Yoli😍🥰😘</title>
    <link rel="stylesheet" href="../Css/Style.css">
    <link rel="shortcut icon" href="../../public/assets/img/vestido-rojo.webp" type="image/x-icon">
    
    <!-- Traemos jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="../Js/Main.js"  ></script>
</head>
<body>

    <!--Cabezera-->
    <section class="header">       
        
        <!-- Barra de navegacion -->
        <nav>
            <a href="../Views/index.html" class="logo_principal">Yoli Tienda</a>

            <a class="toggle">
                <img src="../../public/assets/img/menu.webp" alt="Imagen del el Logo de Github." >
            </a>

            <ul class="navigation">
                <li>
                    <a href="#banner" class="logo" ><h3>Inicio</h3></a>
                </li>
                <li>
                    <a href="#products" class="logo"><h3>Productos</h3></a>
                </li>
                <li>
                    <a href="#links" class="logo"><h3>Informacion</h3></a>
                </li>
            </ul>
        </nav>
        
        <!--Imagenes Movibles-->
        <div class="img1">
                <img src="../../public/assets/img/sombrero.webp" data-speed="-5" class="layer" alt="Sombreo color turquesa.">
        </div>

        <div class="img2">
                <img src="../../public/assets/img/chamarra-rosa-nike.webp" data-speed="5" class="layer" alt="Chamarra deportiva marca Nike color rosada.">
        </div>

        <div class="img3">
                <img src="../../public/assets/img/cardigan-marron.webp" data-speed="2" class="layer" alt="Sueter cardigan color cafe.">
        </div>

        <div class="img4">
                <img src="../../public/assets/img/vestido-flores.webp" data-speed="6" class="layer" alt="Vestido floreado color azul oscuro.">
        </div>

        <div class="img6">
                <img src="../../public/assets/img/torera-moztaza.webp" data-speed="-4" class="layer" alt="Torero color mostaza con cortes.">
        </div>

        <div class="img7">
                <img src="../../public/assets/img/tacos-rosas.webp" data-speed="-9" class="layer" alt="Tacos de punta color piel.">
        </div>

        <div class="img8">
                <img src="../../public/assets/img/vestido-rojo.webp" data-speed="-7" class="layer" alt="Vestido color rojo con cinturon negro.">
        </div>

        <div class="img9">
                <img src="../../public/assets/img/tennis-rosas.webp" data-speed="-12" class="layer" alt="Tenis reportivos rosados marca puma.">
        </div>

        <div class="img10">
                <img src="../../public/assets/img/chompa-guinda.webp" data-speed="12" class="layer" alt="Chompa color guindo cardigna de lana.">
        </div>
            
    </section>

    <!--Principal-->
    <section class="banner" id="banner">
        <img src="../../public/assets/img/fondo.webp" class="fitBg" alt="Imagen de fondo">
        <div class="content">
            <h1>Yoli Tienda</h1>
            <h2>😍</h2>
            <a href="https://api.whatsapp.com/send?phone=59174435066&text=Hola Yoli,%20estoy%20interesada%20en%20las%20Chompas%20de%20Hilo" target="_blank" class="button">Contactame</a><br>
            <a href="https://chat.whatsapp.com/KjJR1otd0fuD5GL4a8ZCOY" target="_blank" class="button">Unirme Al Grupo de Whatsapp</a>
        </div>
    </section>

    <!--Productos-->
    <section class="products" id="products">
        <h2 class="beauty">Que Deseas Comprar?🤩</h2>
        <h4>😍Hermosas Chompas de Hilo para Mujer en Sucre Bolivia🤩</h4>
        <a href="https://api.whatsapp.com/send?phone=59174435066&text=Hola Yoli,%20estoy%20interesada%20en%20las%20Chompas%20de%20Hilo" target="_blank" class="button">Contactame</a><br>
        

        <div class="content">
            <!-- Primer Tarjeta -->
            <div class="card">
                <div class="imgBx">
                    <img src="../../public/assets/img/card-1.webp" alt="Imagen Chompa de Hilo Siete Perlas">
                </div>
                <div class="contentcard">
                    <h3> 🤩Chompa de Hilo Siete Perlas</h3>
                    <p>
                        <i>Precio : 85 Bs</i>  <br>
                        <i>Estado : Nuevo</i>  <br>
                        <i>Disponible : Blanco   </i>
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=59174435066&text=Hola Yoli,%20estoy%20interesada%20en%20Comprar%20la%20Chompa%20de%20Hilo%20Siete%20Perlas" target="_blank" class="button">Comprar🤑</a>
                </div>
            </div>

            <!-- Segunda Tarjeta -->
            <div class="card">
                <div class="imgBx">
                    <img src="../../public/assets/img/card-2.webp" alt="Imagen Cardigan de Hilo con Capucha">
                </div>
                <div class="contentcard">
                    <h3>Cardigan de Hilo con Capucha 🤩</h3>
                    <p>
                        <i>Precio : 85 Bs  </i><br>
                        <i>Estado : Nuevo  </i><br>
                        <i>Disponible : Consultar  </i> 
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=59174435066&text=Hola Yoli,%20estoy%20interesada%20en%20Comprar%20el%20Cardigan%20de%20Hilo%20con%20Capucha" target="_blank" class="button">Comprar🤑</a>
                </div>
            </div>

            <!-- Tercera Tarjeta -->
            <div class="card">
                <div class="imgBx">
                    <img src="../../public/assets/img/card-3.webp" alt="Imagen Chompa de Hilo Cuatro Perlas">
                </div>
                <div class="contentcard">
                    <h3> ❤️Chompa de Hilo Cuatro Perlas</h3>
                    <p>
                        <i>Precio : 85 Bs  </i><br>
                        <i>Estado : Nuevo  </i><br>
                        <i>Disponible : Consultar </i> 
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=59174435066&text=Hola Yoli,%20estoy%20interesada%20en%20Comprar%20la%20Chompa%20de%20Hilo%20Cuatro%20Perlas"  target="_blank" class="button">Comprar🤑</a>
                </div>
            </div>

            <!-- Cuarta Tarjeta -->
            <div class="card">
                <div class="imgBx">
                    <img src="../../public/assets/img/card-4.webp" alt="Imagen Cardigan de Hilo con estrellas">
                </div>
                <div class="contentcard">
                    <h3>Cardigan de Hilo con estrellas 🤗</h3>
                    <p>
                        <i>Precio : 85 Bs  </i><br>
                        <i>Estado : Nuevo  </i><br>
                        <i>Disponible : Consultar </i> 
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=59174435066&text=Hola Yoli,%20estoy%20interesada%20en%20Comprar%20el%20Cardigan%20de%20Hilo%20con%20Estrellas" target="_blank" class="button">Comprar🤑</a>
                </div>
            </div>

            <!-- Quinta Tarjeta -->
            <div class="card">
                <div class="imgBx">
                    <img src="../../public/assets/img/card-5.webp" alt="Imagen Chompas de Hilo Corazon">
                </div>
                <div class="contentcard">
                    <h3>❤️❤️Chompas de Hilo Corazon❤️❤️</h3>
                    <p>
                        <i>Precio : 85 Bs  </i><br>
                        <i>Estado : Nuevo  </i><br>
                        <i>Disponible : Consultar </i> 
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=59174435066&text=Hola Yoli,%20estoy%20interesada%20en%20Comprar%20la%20Chompa%20de%20Hilo%20con%20Corazones"  target="_blank" class="button">Comprar🤑</a>
                </div>
            </div>

            <!-- Sexta Tarjeta -->
            <div class="card">
                <div class="imgBx">
                    <img src="../../public/assets/img/card-6.webp" alt="Imagen Cardigan de Hilo con Rayas">
                </div>
                <div class="contentcard">
                    <h3> ❤️Cardigan de Hilo con Rayas🤗</h3>
                    <p>
                        <i>Precio : 85 Bs  </i><br>
                        <i>Estado : Nuevo  </i><br>
                        <i>Disponible : Consultar </i> 
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=59174435066&text=Hola Yoli,%20estoy%20interesada%20en%20Comprar%20el%20Cardigan%20de%20Hilo%20con%20Rayas"  target="_blank" class="button">Comprar🤑</a>
                </div>
            </div>

            <!-- Septima Tarjeta -->
            <div class="card">
                <div class="imgBx">
                    <img src="../../public/assets/img/card-7.webp" alt="Imagen Toreras de Hilo Juveniles">
                </div>
                <div class="contentcard">
                    <h3>😍Toreras de Hilo Juveniles🥰</h3>
                    <p>
                        <i>Precio : 85 Bs  </i><br>
                        <i>Estado : Nuevo  </i><br>
                        <i>Disponible : Consultar </i> 
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=59174435066&text=Hola Yoli,%20estoy%20interesada%20en%20Comprar%20las%20Toreras%20de%20Hilo%20Juveniles"  target="_blank" class="button">Comprar🤑</a>
                </div>
            </div>
        </div>    
    </section>

    <!--Footer-->
    <section class="footer" id="links">
        <ul class="sci">
            <li>
                <a href="https://www.facebook.com/Ropa-para-Mujer-101367448736844" target="_blank">
                    <img src="../../public/assets/img/facebook.webp" alt="Imagen Facebook">
                </a>
            </li>
            <li>
                <a href="https://github.com/Zelechos" target="_blank">
                    <img src="../../public/assets/img/github.webp" alt="Imagen Github">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/yolaistienda/" target="_blank">
                    <img src="../../public/assets/img/instagram.webp" alt="Imagen Instagram">
                </a>
            </li>
        </ul>
        <a target ="_blank" class="appWhatsapp" href="https://api.whatsapp.com/send?phone=59174435066&text=Hola Yoli,%20estoy%20interesada%20en%20las%20Chompas%20de%20Hilo">
            <img src="../../public/assets/img/whatsapp.webp" alt="icono de whatsapp">
        </a>
        <h4 class="copyrightText">Copyright ©2021 <a href="https://github.com/Zelechos" target="_blank">Pragmatic Coder</a>. All rights reserved.</h4>
    </section>

</body>
</html>